@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Shrikhand&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
}

h1{
    font-family: $font-title;
    color: $black;
}
h2,h3,h4{
    font-family: 'Roboto', sans-serif;
    color: $black;
}
h1{
    font-size: 1.5em;
}

h4{
    font-size: 1.3em;
}
.logo{
    font-family: 'Shrikhand', cursive, sans-serif;
    color: $white;
    font-size: 1em;
}
@media(min-width:1500px){
    h4{
        font-size: 1.5em;
    }
}
p{
    font-family: 'Roboto', sans-serif;
    color:$black;
    font-size: 1em;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: $black;
}
@media (max-width:1024px){
    h1{
        font-size:1.1em;
    }
    p{
        font-size: 0.8em;
    }
}

