/*Adapter le preview au format tablette et mobile*/
@media(min-width:1500px){
    .steps{
        p{
            font-size: 1.3rem;
        }
    }
    .menu-prev{
        height: 700px;
    }
    h4{
        font-size: 1.5em;
    }
    a{
        font-size: 1.3em;
    }
}
@media (max-width:1024px){
    .menu-heading{
        justify-content: space-between;
        width: 100%;
        margin-left:0;
        h1{
            margin-left: 2rem;
            font-size:1.7em;
        }
        p{
            font-size: 0.8em;
        }
    }
    .info{
        &__steps{
            width: 60%;
        }
    }
    
    .menu-flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 0.5rem;
        }
    .resto-prev{
        height: 300px;
     }
     .info__explain{
        display:flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        min-height:200px ;
        .steps{
            width: 90%;
        }
    }
}
@media (min-width:480px) and (max-width:1024px){
    /*Pour que les éléments contenant le menu s'étendent sur tous l'écran*/
    .menu-prev-grid{
        min-width: 450px;
    }
    .menu-entree{
        width: 90%;
    }
    
}
@media (max-width:768px){
    .menu-prev{
        height: 300px;
    }
     .resto-bloc{
        h2{
            padding-left: 2rem;
        }
    }
    #resto-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20rem 20rem 20rem 20rem;
        grid-template-areas: "resto1" "resto2" "resto3" "resto4";
    }
    .resto-prev1,.resto-prev2,.resto-prev3, .resto-prev4{
        width: 90%;
        justify-self: center;
    }
    .info{
        &__steps{
            width: 100%;
        }
        p{
            font-size: 0.6em;
        }
    }
    footer{
     ul{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: $white;
        background-color:$black;
        padding:15px;
    }
    li{
        margin-top:5px;
        a{
            color:$white;
            i{
                margin-right:10px;
            }
        }
    }
} 
}  
@media(max-width:480px){
    .menu-heading{
        h1{
            
            margin-left: 2rem;
        }
    }
    .menu-entree{
        width: 95%;
    }
    .menu-flex{
        padding: 0;
    }
    .resto-prev{
        height: 250px;
     }
     .menu-prev-grid{
         h4{
             font-size: 1.2em;
         }
         .description{
             font-size: 1.2em;
         }
         p{
             font-size: 1.1em;
         }
     }
}


