button{
    padding: 10px 15px 10px 15px;
    margin: 10px 0;
    font-size: 1.3rem;
    border-radius: 60px;
    color: $white;
    border:none;
    background: linear-gradient(180deg, rgba(255,121,218,1) 45%, rgba(147,86,220,1) 100%);
    cursor: pointer;
}
@media (max-width:1024px){
    button{
        font-size: 1rem;
    }
}

#heart{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $white;
    grid-area:heart;
    border-radius:0 0 10px 0;
}
.icon, .icon-color{
    margin-right:2rem;
}
.icon{
    position: relative;
    z-index: 1;
}
.icon-color{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient($color-secondary, $color-primary);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    visibility:hidden;
    transform: scale(0);
    transition: 0.3s ease;
}
.icon:hover .icon-color{
    transform:scale(1);
    visibility: visible;
}
.icon:hover{
    background: linear-gradient($color-secondary, $color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    transition: 0.4s;
}