header{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.header-flex{
    padding-top: 1rem;
    justify-content: flex-start;
    align-items: center;

   a{
        width: 10%;
        padding-left: 1.5rem;
        i{
            font-size: 1.2rem;
        }
    }
    .logo{
        width: 90%;
        text-align: center;
        padding-right: 3em;
    }

}
@media(max-width:768px){
    /*.header-flex{
        a{
            width: 25%;
        }
    
    }*/
}
/*Création des menus des restaurents*/
.menu-prev{
    margin-top: 2rem;
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    border: transparent;
}
.menu-heading{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: $color-quaternary;
    border-radius: 100px 100px 0 0;
    width: 50%;
    margin-left:1rem;
    padding: 2rem 0 0 0;
    border: transparent;
    h1{
         width: 50%;
         font-size: 2em;
         margin-left: 2rem;
    }
}


.resto-lafrançaise{
    background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    @include heading-menu;
}
.resto-laPalette{
    background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    @include heading-menu;
}
.resto-leDeliceDesSens{
    background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    @include heading-menu;
}
.resto-laNoteEnchantee{
    background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    @include heading-menu;
}

/*Les différentes entrées du menu*/
.menu-flex{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding:5rem  2rem 1rem 2rem;
    background-color: $color-quaternary;
}
.menu-entree{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
}
.btn-menu{
    width: 100%;
    border: transparent;
    margin:1rem 0;
    &:hover .menu-prev-grid{
    animation: animation-check 0.3s forwards;
    -webkit-animation: animation-check 0.3s forwards;
  }
   &:hover .fa-check-circle{
        transform: rotate(360deg);
        transition: 0.8s;
  }
}
.btn-menu-1{
    animation:animation-appear 0.5s forwards;
    transform:translateY(-50px);
     opacity:0
}
.btn-menu-2{
    animation:animation-appear 0.5s forwards;
    animation-delay:0.3s;
     transform:translateY(-50px);
      opacity:0
}
.btn-menu-3{
    animation:animation-appear 0.5s forwards;
    animation-delay:0.6s;
     transform:translateY(-50px);
      opacity:0
}
/*englobe chaque élément du menu*/
.menu-prev-grid{
    display:grid;
    grid-template-columns: 75% 25% 15%;
    grid-template-rows:50px 50px ;
    grid-template-areas:"heading heading check"
    "description price check";
    background-color: $white;
    border-radius: 15px;
    width: 100%;
    padding: 0;
    overflow: hidden;
    h4{
        grid-area: heading;
        text-align: start;
        padding: 1rem  0 0.5rem 1rem;
        font-size: 1.7em;
    }
    .description{
        grid-area: description;
        text-align: start;
        padding: 0 0 1rem 1rem;
        font-size: 1.5em;
        display:block;
        white-space: wrap;
    }
    .price{
        grid-area: price;
        align-self: center;
        font-weight: bold;
    }
    figure{
        grid-area: check;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: $color-tertiary;
        color: $white;
    }
}
.btn-menu:hover .description{
    display:block;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-basis:auto;
    overflow: hidden;
}
/*Footer*/
footer{
    width: 100%;
}
ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
    color: $white;
    background-color:$black;
    padding:15px;
}
svg{
    width: 70%;
    height: auto;
    fill:$white;
    
    path{
        fill:$white; 
    }
}
li{
    a{
        color:$white;
        i{
            margin-right:10px;
        }
    }
}
