/*pour le loading spinner*/
.loader{
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    top : 0px;
    left : 0px;
    height : 100%;
    width : 100%;
    background-color: white;
    animation: animation-loader 1s 3s forwards;
    .rotation{
        animation: animation-rotate 3s  linear infinite;
        .cercle{
            width:40px;
            height:40px;
            border-radius:50%;
            margin:0 10px;
            background-color:#9356DC;
            opacity: 0.7;
            box-shadow: 0px 0px 12px 6px #A77CDC;
            transform:scale(0);
            animation: grow 1.5s linear infinite;
        }
        .cercle:nth-child(2){
            animation-delay:0.5s;
            background-color: #ff79da;
            -webkit-box-shadow: 0px 0px 12px 6px #FFAEE8; 
            box-shadow: 0px 0px 12px 6px #FFAEE8;
        }
    }
    
}

  /*pour le bouton ancre (renvoie aux restaurants)*/
.presentation{
    text-align: center;
    padding: 20px;
    background-color:$color-quaternary;
    p{
        margin: 10px 0;
        font-size: 1.5em;
    }
    h1{
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        padding: 0 3rem;
    }
    a{
        display: inline-block; /*pour pouvoir centrer le lien*/
        width: 20em;
        .btn{
            width: 100%;
        }
    }
}
#map{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 20px;
    padding:15px 0;
    background-color: $color-quinary;
    font-size: 1.5rem;
    i{
        margin-right: 10px;
    }
    &:hover > form{
        visibility: visible;
    }
}
.info{
    margin: 30px;
    &__explain{
        display:flex;
        justify-content: space-around;
        margin-top: 3rem;
        font-size: 1.5rem;  
    }
    &__steps{
        display:flex;
        justify-content: center;
        background-color: $color-quaternary;
        width: 30%;
        min-width:277px;
        position: relative;
        border-radius: 15px;
        cursor: pointer;
        &:hover{
            background-color: lighten($color-secondary,20%);
            .fa-color{
                color: $color-primary;
                }
            }
        figure{
            position: absolute;
            background-color:$color-primary;
            border-radius:50%;
            color: $white;
            font-size: 0.8rem;
            padding:2px 8px 1px 8px;
            top:25%;
            left:-9px;
            font-size: 1.2rem;
        }
        p{
            padding: 15px 30px;
            border-radius: 50px;
            font-weight: bold;
            font-size: 0.7em;
            i{
                padding-right:20px;
            }
            .fa-color{
                color: $color-quinary;
            }
        }
    }
}


/*Carte de présentation des restaurants*/
.resto-bloc{
    margin-top:5rem;
    background-color: $color-quaternary;
    padding-bottom: 5rem;
    h2{
        padding: 2rem 0 0 2rem;
    }
}
/*Organisation des 4 preview entre-eux*/
#resto-grid{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: "resto1 resto3"
   "resto2 resto4" ;
    grid-gap:3rem;
    justify-content: space-around;
    background-color: $color-quaternary
}
.resto-prev1, .resto-prev2{
    width: 80%;
    justify-self: flex-end;
    max-width: 500px;/*Limiter l'étirment horizontal du bloc*/
}
.resto-prev3, .resto-prev4{
    width: 80%;
    justify-self: flex-start;
    max-width: 500px;/*Limiter l'étirment horizontal du bloc*/
}

.resto-prev1{ /*pour placer les cartes de chaque restaurant*/
    grid-area:resto1;
}
.resto-prev__image--1{
    background-image: url(../images/resize-restaurant/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    @include images-prev;
}
.resto-prev2{
    grid-area: resto2;    
}
.resto-prev__image--2{
    background-image: url(../images/resize-restaurant/stil-u2Lp8tXIcjw-unsplash.jpg);
    @include images-prev;
}

.resto-prev3{
    grid-area: resto3;
}
.resto-prev__image--3{
    background-image: url(../images/resize-restaurant/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    @include images-prev;
}
.resto-prev4{
    grid-area: resto4;
}
.resto-prev__image--4{
    background-image: url(../images/resize-restaurant/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    @include images-prev;
}

/*englobe le contenu des cartes*/
.resto-prev{
    background-color: $white;
   display:grid;
   grid-template-columns: 80% 20%;
   grid-template-rows: 80% 20%;
   grid-template-areas: "images images"
   "info heart";
   border-radius:10px;
   height: 350px;
  @include prev-shadows;
  &__image{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    grid-area:images;
    border-radius:10px 10px 0 0;
    }
    &__info{
    width: 100%;
    background-color: $white;
    grid-area:info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    border-radius:0 0 0 10px;
    }
}
.new-not{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 1em 0 0; /*Décoler le cadre du bloc*/
    p{
     color: darken($color-tertiary, 40%);
    background-color: $color-tertiary;
    font-weight:bold;
    grid-area:new;
    padding:10px 20px;
    }
   
}


